<table>
  <thead>
    <tr>
      <% @columns.each do |column| %>
        <th<%= column_class(column) %>><span><%= column %></span></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% if @results.count > 0 %>
    <% @results.each do |row| %>
        <tr>
          <% row.each_with_index do |val,i| %>
            <td<%= column_class(@columns[i]) %>><%= h val %></td>
          <% end %>
        </tr>
    <% end %>
  <% else %>
    <tr>
      <td class="empty-set" colspan="<%= @columns.size %>">
        <p>0 records found</p>
      </td>
  <% end %>
  </tbody>
</table>

